.payment-container {
  background-color: #ebebeb;
  height: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px auto;
  padding: 40px 0;
}

.payment-first {
  width: 298px;

  flex: 1 0 auto;
  font-size: 18px;
  height: 90px;
  padding: 20px;
  white-space: nowrap;
}

.payment-second {
  width: 298px;
  height: 130px;
}

.payment-icon {
  float: left;
  height: 54px;
  margin-right: 16px;
  width: 48px;
}
