.link-cart-widget {
    text-decoration: none;
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon-cartwidget {
    color: black;

}

.icon-cartwidget i {
    padding: 1em 1em;
    height: 2em;
    width: 2em;
}