.card-container {
    width: 210px;
    height: 300px;
    font-size: 14px;
    margin: 10px 10px;
    padding: 10px 10px;
}

.item-title-price {
    color: black;
    list-style: none;
    text-decoration: none;
    
}