.search-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 73.5px 0 0;
    background-color: #fff159;
    border: 0;
    height: 45px;
}

.search-logo {
    height: 34px;
    top: 11px;
    width: 134px;
}

.search-search {
    display: flex;
    align-items: center;
    width: 500px;
    height: 25px;
}
