.search-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 60px 9px 15px;
    background-color: #fff159;
    border: 0;
    height: 45px;
}

.search-logo {
    height: 34px;
    top: 11px;
    width: 134px;
}

.search-search {
    display: flex;
    align-items: center;
    width: 598px;
    height: 24px;
    
}
